{% extends "base.html" %}

{% block title %}ورود{% endblock %}

{% block content %}
  <h1>ورود</h1>
  {% if form.errors %}
    <p>
     نام کاربری و رمز عبور خود را مطابقت ندارد.
     لطفا دوباره امتحان کنید.
    </p>
  {% else %}
    <p>لطفا از فرم زیر برای ورود به سیستم استفاده کنید. اگر شما یک
    حساب  <a href="{% url "register" %}">اینجا ثبت نام کنید</a></p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><a href="{% url "password_reset" %}">رمز عبور خود را فراموش کرده اید ؟</a></p>
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Log-in"></p>
    </form>
  </div>
{% endblock %}
