{% extends "base.html" %}

{% block title %}بازنشانی گذرواژه{% endblock %}

{% block content %}
  <h1>بازنشانی گذرواژه</h1>
  {% if validlink %}
   <p>لطفا رمز عبور جدید خود را دو بار وارد کنید:</p>
   <form method="post">
     {{ form.as_p }}
     {% csrf_token %}
     <p><input type="submit" value="Change my password" /></p>
    </form>
  {% else %}
    <p>لینک تنظیم مجدد رمز عبور نامعتبر بود, احتمالا به دلیل آن است
       استفاده شده است. لطفا درخواست تنظیم مجدد رمز عبور جدید.</p>
  {% endif %}
{% endblock %}