{% extends "base.html" %}
{% block title %}بازیابی رمز عبور{% endblock %}
{% block content %}
<h1 dir="rtl">بازیابی رمزعبور</h1>
{% if validlink %}
<p dir="rtl">لطفا رمز عبور جدید خود را دو بار وارد کنید:</p>
<form method="post" dir="rtl">
    {{ form.as_p }}
    {% csrf_token %}
    <p dir="rtl"><input type="submit" value="ویرایش رمز عبور" /></p>
</form>
{% else %}
<p dir="rtl">لینک تنظیم مجدد رمز عبور نامعتبر بود ، احتمالا به دلیل آن است
     قبلا استفاده شده است. لطفا برای تنظیم مجدد رمز عبور جدید دوباره درخواست دهید.</p>
{% endif %}
{% endblock %}