body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}

a { 
    color:#5d0d7c;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid rgb(194, 81, 156);
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:30%;
    padding:20px;
    background:#d1e752; 
    height:100%;
}

p.date { 
    color:rgb(4, 56, 34);
    font-family: georgia, serif;
    font-size: 13px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:rgb(22, 21, 36);
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#b884e2;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#74c2e0;
    color:rgb(34, 23, 3);
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#b4e235;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#cab3c8;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:rgb(56, 53, 4);
}