body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}

a { 
    color:#25da4c;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid rgb(119, 65, 106);
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background:#4d99d8; 
    height:100%;
}

p.date { 
    color:rgb(209, 212, 35);
    font-family: georgia, serif;
    font-size: 13px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:rgb(197, 85, 32);
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#91b3a7;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#2cca7b;
    color:rgb(236, 185, 90);
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#b4e235;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#54acd4;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:rgb(127, 66, 129);
}